/* THIS IS A STYLE SHEET */

#containStyle {
display: grid;
width: 800px;
height: 700px;
grid-template-columns: 50px 1fr 1fr 50px;
grid-template-rows: 50px 1fr 1fr 50px;
grid-gap: 10px;
border-style: solid;
border-color: black;
border-width: 1px;
background-color: gainsboro;
padding: 20px;
}

#headStyle {
grid-row: 1 / 2;
grid-column: 1 / 5;
background-color: mintCream;
border: black;
border-style: solid;
border-width: 1px;
/*margin-top: 10px;
*/padding: 5px;
}

#contentStyle {
grid-row: 2 / 4;
grid-column: 2 / 4;
background-color: mintCream;
border: black;
border-style: solid;
border-width: 1px;
padding: 5px;
display: grid;

}

#leftStyle {
grid-row: 2 / 4;
grid-column: 1 / 2;
background-color: mintCream;
border: black;
border-style: solid;
border-width: 1px;
/*margin-left: 10px;
*/padding: 5px;
}

#rightStyle {
grid-row: 2 / 4;
grid-column: 4 / 5;
background-color: mintCream;
border: black;
border-style: solid;
border-width: 1px;
/*margin-right: 10px;
*/padding: 5px;
}

#footStyle {
grid-row: 4 / 5;
grid-column: 1 / 5;
background-color: mintCream;
border: black;
border-style: solid;
border-width: 1px;
/*margin-bottom: 10px;
*/padding: 5px;
}