
body {
  background-image: url("images/Logo_blue.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}

.container {
  font-size: 22px;
font-family: 'Barlow Condensed', sans-serif;
}

.column {
background-color: rgba(102, 217, 255, 0.1);
padding: 0px;
/*border: 1px;
border-color: ghostwhite;
border-style: dotted;*/

}
.row {
  margin-top: 0px;
  margin-bottom: 5px;

}


#imgStyle {
    width: 100%;
    height: auto;

}

#linkStyle {
  text-decoration: none;
}

/* BUTTON */
.btn {
background-color: hsl(207, 45%, 56%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f0f6", endColorstr="#5c93c1");
background-image: -khtml-gradient(linear, left top, left bottom, from(#e8f0f6), to(#5c93c1));
background-image: -moz-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -ms-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8f0f6), color-stop(100%, #5c93c1));
background-image: -webkit-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -o-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: linear-gradient(#e8f0f6, #5c93c1);
border-color: #5c93c1 #5c93c1 hsl(207, 45%, 46.5%);
color: #333 !important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
-webkit-font-smoothing: antialiased;
}


/* STYLING FOR RESULTS HEADER */
#resultHeadStyle, #trendingStyle, #recentStyle, #departReturnStyle {
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  text-align: center;
}

#trendingStyle {
    margin-top: 50px;
      height: 70px;

}

#recentStyle
{
  height: 70px;
}

.recentPlaceStyle {
font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: black;
  text-align: left;

}



.ftr {
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 640px) {
  body {
  background-image: url("images/Logo_blue_mobile.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 40%;
}
  .btn {
    text-align: center;
  }
  .column {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .trending {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ftr{
    font-size: 12px;
  }

.recentPlaceStyle {
font-size: 24px;

}

#resultHeadStyle, #trendingStyle, #recentStyle, #departReturnStyle {
  font-size: 20px;
    height: 25px;
    padding: 2px;

}

#trendingStyle, #recentStyle {
    margin-top: 5px;

}

.container {
  font-size: 16px;
}


