/*
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/


/*.container {
  margin: 0 auto;
  max-width: 480px;

  width: 90%;
  background-color: aliceblue;
  padding: 5px;
border-width: 1px;
border-color: black;
border-style: solid;
font-family: 'Barlow Condensed', sans-serif;
}*/
body {
  background-image: url("images/Logo_blue.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}

.column {
background-color: rgba(102, 217, 255, 0.1);
padding: 5px;
border: 1px;
border-color: ghostwhite;
border-style: dotted;

}
.row {
  margin-top: 20px;
  margin-bottom: 20px;

}


#imgStyle {
    width: 100%;
    height: auto;
}

#linkStyle {
	text-decoration: none;
}

/* BUTTON */
.btn {
background-color: hsl(207, 45%, 56%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f0f6", endColorstr="#5c93c1");
background-image: -khtml-gradient(linear, left top, left bottom, from(#e8f0f6), to(#5c93c1));
background-image: -moz-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -ms-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8f0f6), color-stop(100%, #5c93c1));
background-image: -webkit-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: -o-linear-gradient(top, #e8f0f6, #5c93c1);
background-image: linear-gradient(#e8f0f6, #5c93c1);
border-color: #5c93c1 #5c93c1 hsl(207, 45%, 46.5%);
color: #333 !important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
-webkit-font-smoothing: antialiased;
    display: block;
    margin: 0 auto;
    padding: 8px 100px;
}

/* STYLING FOR RESULTS HEADER */
#resultHeadStyle {
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
}
/* STYLE FOR TREND BOX */
#trendingStyle {
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
}
#departReturnStyle {
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  text-align: center;
}
.ftr {
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #5c93c1;
font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 640px) {
  body {
  background-image: url("images/Logo_blue_mobile.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 40%;
}
  .btn {
    text-align: center;
  }
  .column {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .trending {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ftr{
    font-size: 14px;
  }

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (min-width: 639px) {
  .column {
    float: left;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .column.full { width: 100%;}
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; } 

}
