/* THIS IS A STYLE SHEET */



.jumbotron{
	position: relative;
	z-index: -101;
}
#video-background{
		position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width:auto !important;
        height:auto !important;
        overflow: hidden;
        z-index: -100;
        /*width:100%;*/
}

